<h1>Author detail PAGE</h1>
<br>

<h1>Name {{name}}</h1>
<h1>Surname: {{surname}}</h1>
<hr>
<p>Nationality: {{nationality}}</p>
<p>Biography: {{bio}}/10</p>
<hr>
<br>
<a href="/books/{{_id}}/edit">Edit this author</a>
<br>
<a href="/books/{{_id}}/delete">DELETE this author</a>
<br>
<a href="/books">Back to authors list</a>
